.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover !important;
}

.landingpage__header {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0.5rem;
  right: 0.5rem;
  color: #fff;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
}

.underline__header {
  display: flex;
  justify-content: center;
  align-items: cetner;
  text-align: center;
  left: 0.5rem;
  right: 0.5rem;
  color: #fff;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;
  margin-bottom: 5rem;
}

.underline {
  border-bottom: 4px solid #ca4900;
}

.subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 500;
}

.signup_button {
  display: block;
  margin: 0 auto;
  color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #008560;
  padding: 0.5rem;
  background-color: #08a67a;
  font-size: 1.2rem;
  font-weight: 700;
  width: 200px;
}

.signup_button:hover,
.signup_button:active {
  background-color: #00684b;
}

@media (max-width: 768px) {
  .landingpage__header {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 10rem;
  }
  .underline__header {
    font-size: 3rem;
    margin-bottom: 4rem;
    line-height: 3rem;
  }
  .subheader {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    line-height: 2.5rem;
  }
  .signup_button {
    font-size: 1.1rem;
  }
}

@media (max-width: 579px) {
  .landingpage__header {
    font-size: 2.3rem;
    line-height: 2.5rem;
    text-align: center;
  }
  .underline__header {
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
  }
  .subheader {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 3rem;
  }
  .signup_button {
    font-size: 1rem;
  }
}
