.authentication {
  width: 90%;
  max-width: 25rem;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20vh;
  text-align: left;
}

.authentication form {
  margin-bottom: 1rem;
}

.auth__button {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 579px) {
  .authentication {
    margin-top: 25vh !important;
  }
}
